* {
    padding: 0;
    margin: 0;
}

.heroCont {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: silver;
}

.item {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.cart1 {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.cart2 {
    z-index: 2;
    width: 220px;
    height: 300px;
    position: absolute;
    right: 40%;
    bottom: 60px;
    border-radius: 10px;
}

.cart3 {
    z-index: 2;
    width: 220px;
    height: 300px;
    position: absolute;
    right: 25%;
    bottom: 60px;
    border-radius: 10px;
}

.cart4 {
    z-index: 2;
    width: 220px;
    height: 300px;
    position: absolute;
    right: 10%;
    bottom: 60px;
    border-radius: 10px;
}

.cart1 .thumbnailTitle {
    display: none;
}

.cart2 .thumbnailTitle,
.cart3 .thumbnailTitle,
.cart4 .thumbnailTitle {
    display: block;
}

.cart1 .CONTEND {
    display: block;
}

.cart2 .CONTEND,
.cart3 .CONTEND,
.cart4 .CONTEND {
    display: none;
}

.carr1 {
    animation: SHOWCART1 1s linear 1 forwards;
    width: 220px;
    height: 300px;
    z-index: 2;
    position: absolute;
    bottom: 60px;
    right: 40%;
}

@keyframes SHOWCART1 {
    to {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 0;
    }
}

.carr2 {
    animation: SLIDEcart1 1s linear 1 forwards;
    width: 220px;
    height: 300px;
    z-index: 3;
    position: absolute;
    bottom: 60px;
    right: 25%;
    border-radius: 10px;
}


@keyframes SLIDEcart1 {
    to {
        right: 40%;
        z-index: 2;
    }
}

.carr3 {
    animation: SLIDEcart2 1s linear 1 forwards;
    width: 220px;
    height: 300px;
    z-index: 4;
    position: absolute;
    bottom: 60px;
    right: 10%;
    border-radius: 10px;
}


@keyframes SLIDEcart2 {
    to {
        right: 25%;
        z-index: 3;
    }
}

.carr4 {
    animation: HideCART1 1s linear 1 forwards;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0;
}


@keyframes HideCART1 {
    to {
        width: 220px;
        height: 300px;
        border-radius: 10px;
        position: absolute;
        right: 10%;
        bottom: 60px;
        border-radius: 10px;
        z-index: 4;

    }
}

.car1 {
    animation: SHOWCART2 1s linear 1 forwards;
    width: 220px;
    height: 300px;
    z-index: 2;
    position: absolute;
    bottom: 60px;
    right: 40%;
}

@keyframes SHOWCART2 {
    to {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.car2 {
    animation: SLIDEcart11 1s linear 1 forwards;
    width: 220px;
    height: 300px;
    z-index: 3;
    position: absolute;
    bottom: 60px;
    right: 25%;
    border-radius: 10px;
}


@keyframes SLIDEcart11 {
    to {
        right: 40%;
        z-index: 2;
    }
}

.car3 {
    animation: SLIDEcart22 1s linear 1 forwards;
    width: 220px;
    height: 300px;
    z-index: 4;
    position: absolute;
    bottom: 60px;
    right: 10%;
    border-radius: 10px;
}


@keyframes SLIDEcart22 {
    to {
        right: 25%;
        z-index: 3;
    }
}

.car4 {
    animation: HideCART11 1s linear 1 forwards;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0;
}


@keyframes HideCART11 {
    to {
        width: 220px;
        height: 300px;
        border-radius: 10px;
        position: absolute;
        right: 10%;
        bottom: 60px;
        border-radius: 10px;
        z-index: 4;

    }
}

.carrr1 {
    animation: SHOWCART222 1s linear 1 forwards;
    width: 220px;
    height: 300px;
    z-index: 2;
    position: absolute;
    bottom: 60px;
    right: 40%;
}

@keyframes SHOWCART222 {
    to {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 0;
    }
}

.carrr2 {
    animation: SLIDEcart111 1s linear 1 forwards;
    width: 220px;
    height: 300px;
    z-index: 3;
    position: absolute;
    bottom: 60px;
    right: 25%;
    border-radius: 10px;
}


@keyframes SLIDEcart111 {
    to {
        right: 40%;
        z-index: 2;
    }
}

.carrr3 {
    animation: SLIDEcart222 1s linear 1 forwards;
    width: 220px;
    height: 300px;
    z-index: 4;
    position: absolute;
    bottom: 60px;
    right: 10%;
    border-radius: 10px;
}


@keyframes SLIDEcart222 {
    to {
        right: 25%;
        z-index: 3;
    }
}

.carrr4 {
    animation: HideCART111 1s linear 1 forwards;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0;
}


@keyframes HideCART111 {
    to {
        width: 220px;
        height: 300px;
        border-radius: 10px;
        position: absolute;
        right: 10%;
        bottom: 60px;
        border-radius: 10px;
        z-index: 4;

    }
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


.carrrr1 {
    animation: SHOWCART2222 1s linear 1 forwards;
    width: 220px;
    height: 300px;
    z-index: 2;
    position: absolute;
    bottom: 60px;
    right: 40%;
}

@keyframes SHOWCART2222 {
    to {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 0;
    }
}

.carrrr2 {
    animation: SLIDEcart1111 1s linear 1 forwards;
    width: 220px;
    height: 300px;
    z-index: 3;
    position: absolute;
    bottom: 60px;
    right: 25%;
    border-radius: 10px;
}


@keyframes SLIDEcart1111 {
    to {
        right: 40%;
        z-index: 2;
    }
}

.carrrr3 {
    animation: SLIDEcart2222 1s linear 1 forwards;
    width: 220px;
    height: 300px;
    z-index: 4;
    position: absolute;
    bottom: 60px;
    right: 10%;
    border-radius: 10px;
}


@keyframes SLIDEcart2222 {
    to {
        right: 25%;
        z-index: 3;
    }
}

.carrrr4 {
    animation: HideCART1111 1s linear 1 forwards;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0;
}


@keyframes HideCART1111 {
    to {
        width: 220px;
        height: 300px;
        border-radius: 10px;
        position: absolute;
        right: 10%;
        bottom: 60px;
        border-radius: 10px;
        z-index: 4;

    }
}

.CONTEND {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 10vh;
    left: 0;
    overflow: hidden;
    color: wheat;
}

.CONTENDAlign {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CONTENDcont {
    width: 80%;
    height: 80%;
}


.thumbnailTitle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    font-size: 1vw;
    color: wheat;
}

.ThumbnailAlign {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.THumbnailContend {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.THumbnailContend h1 {
    color: brown;
    font-size: 1.5vw;
}

.THumbnailContend p {
    font-size: 1vw;
    color: wheat;
    text-shadow: -5px 4px 20px black;
}

.car4 .CONTEND,
.carr4 .CONTEND,
.carrr4 .CONTEND,
.carrrr4 .CONTEND,
.car2 .CONTEND,
.carr2 .CONTEND,
.carrr2 .CONTEND,
.carrrr2 .CONTEND,
.car3 .CONTEND,
.carr3 .CONTEND,
.carrr3 .CONTEND,
.carrrr3 .CONTEND {
    display: none;
}

.car1 .CONTEND,
.carr1 .CONTEND,
.carrr1 .CONTEND,
.carrrr1 .CONTEND {
    display: block;
}


.car4 .thumbnailTitle,
.carr4 .thumbnailTitle,
.carrr4 .thumbnailTitle,
.carrrr4 .thumbnailTitle,
.car2 .thumbnailTitle,
.carr2 .thumbnailTitle,
.carrr2 .thumbnailTitle,
.carrrr2 .thumbnailTitle,
.car3 .thumbnailTitle,
.carr3 .thumbnailTitle,
.carrr3 .thumbnailTitle,
.carrrr3 .thumbnailTitle {
    display: block;
}

.car1 .thumbnailTitle,
.carr1 .thumbnailTitle,
.carrr1 .thumbnailTitle,
.carrrr1 .thumbnailTitle {
    display: none;
}



header {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.headerAlign {
    width: 85%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
}

.headerAlign a {
    text-decoration: none;
    color: brown;
    text-shadow: 0px 2px wheat;
    font-size: 1vw;
    transition: 1s ease all;
}

.headerAlign a:hover {
    text-decoration: underline;
    text-shadow: 0px 2px goldenrod;
}

.CONTEND h4 {
    font-size: 1vw;
    letter-spacing: 10px;
    color: wheat;
    height: 10%;
    text-shadow: -5px 4px 20px black;
}

.CONTEND h2 {
    font-size: 4vw;
    color: wheat;
    height: 15%;
    text-shadow: -5px 4px 20px black;
}

.CONTEND h1 {
    font-size: 3.5vw;
    letter-spacing: 10px;
    font-family: monospace;
    color: brown;
    height: 15%;
    text-shadow: -5px 4px 20px black;
}

.CONTEND p {
    font-size: 2vw;
    height: 30%;
    text-shadow: -5px 4px 20px black;
}

.butttons {
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.butttons button {
    width: 20%;
    height: 80%;
    border: 2px solid wheat;
    color: wheat;
    background-color: transparent;
    border-radius: 5px;
    font-size: 0.9vw;
}

.butttons button a {
    color: wheat;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
}